{% load static %}
<html>
<head>
<title>Blockchain for Financial Application</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}"/>
 <script LANGUAGE="Javascript" >
function validate(){
	var y=document.forms["f1"]["t3"].value;
	
	if(x == null || x==""){
		window.alert("Amount must be enter");
		document.f1.t3.focus();
		return false;
	}
	
	return true;
}
		
	
	</script>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<div id="logo">
			<center><font size="4" color="yellow">Blockchain for Financial Application</font></center>
		</div>
		<div id="slogan">
			
		</div>
	</div>
	<div id="menu">
		<ul><center>
      <li><a href="{% url 'BrowseProducts' %}">View Products</a></li>
	  <li><a href="{% url 'ViewProviders' %}">View Service Providers</a></li>
	   <li><a href="{% url 'AddMoney' %}">Add Money to Wallet</a></li>
	  <li><a href="{% url 'index' %}">Logout</a></li>		
		</center></ul>
<br class="clearfix" />
				</div>
			
	<div id="splash">
		<img class="pic" src="{% static 'images/investor.jpg' %}" width="870" height="230" alt="" />
	</div>	
			<center>
<form name="f1" method="post" action={% url 'BookOrder' %} OnSubmit="return validate()">
	{% csrf_token %}<br/>
   <h3><b>Choose Payment Screen</b></h3>
   
	<font size="" color="blue"><center>{{ data }}</center></font>
						
						<table align="center" width="80" >
			{{ data1|safe }}

		<tr><td><font size="" color="black">Choose&nbsp;Payment&nbsp;Type</font></td>
		<td><select name="t4">
		<option value="Card">Card</option>
		<option value="Wallet">Wallet</option>
		</select>
		</td></tr>
		 
			<tr><td></td><td><input type="submit" value="Complete Payment">
			</td>
			</table>
			<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
				</div>	
					
				</div>
				
				
	</body>
</html>